
.parent{
    width: 400px;
    height: 180px;
    background-color: rgb(15, 201, 61);
    margin: 20px;
}

.showText{
    
    
}
.child{
    width: 300px;
    height: 70px;
    background-color: rgb(237, 105, 99);
}
input{

}